<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da memoria-Ajuda</title>
    <link rel="stylesheet" href="../styles/ajuda.CSS">
    <script src="../Js/ajuda.js"></script>
</head>
<body class="body">
  
        
    <div class="center">

        
       <div class="header">
           <h1 class="h1" style="color: yellow;">Ajuda</h1> 
           
        </div>
        <div class="container">
            <div style="color: yellow;">
                <h3 class="titulo">Como jogar</h3>
                <p class="desc">O jogo da memória é um jogo de cartas onde o objetivo é encontrar pares de cartas iguais.</p>
                <p class="desc1">As regras são simples</p>
                <ul class="regras">
                    <li>O jogo começa com todas as cartas viradas para baixo.</li>
                    <li>Em cada turno, o jogador vira duas cartas.</li>
                    <li>Se as cartas forem iguais, elas permanecem viradas para cima.</li>
                    <li>Se não forem iguais, elas são viradas novamente para baixo.</li>
                    <li>O jogo termina quando todos os pares forem encontrados.</li>
                </ul>
                
            </div>
            
        </div>
        <a style="text-decoration: none;" class="sair" href="../index.html">Volte para o menu</a>
        <br>
        
        
    </div>
</div>
    </body>
    </html>