<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da memoria-Ajuda</title>
    <link rel="stylesheet" href="../styles/ajuda.CSS">

</head>
<body>
    <h1 class="h1">Ajuda</h1> 
    <h3>Como jogar</h3>
    <button class="button" onclick="mostrarInformacao()">Mostrar informações</button>

    <div id="informação" style="display: none;">
        O jogo iniciara com as peças são viradas para cima, você tem um tempo determinado<br>
        para decorar as peças viradas e depois elas serão viradas novamente, tente descobrir<br>
        os pares de todas as peças antes que o tempo acabe
    </div>
    
    <br>
        
    <a href="../index.html">Volte para o menu</a>

    <h1>Como jogar</h1>
    <a href="../index.html">Volte para o menu</a> <br>
    <list>e isso ai pow, e so virar asa cartas... </list>
    
    <script>
        function mostrarInformacao(){
            document.getElementById("informação").style.display = "block";
        }
    </script>
</body>
</html>