<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrocel</title>
    <link rel="stylesheet" href="../styles/carrocel.CSS">
    <script src="../views/script.js" defer></script>
</head>
<body>
     <div class="container-slider">
        <button id="prev-button"><img src="../public/images/arrow.png" alt="prev-button"></button>
        <div class="container-images">

            <img src="../public/images/fundo2.png" alt="fundo2" class="slider on">
            <img src="../public/images/Captura de tela 2025-05-11 093005.png" alt="Captura de tela 2025-05-11 093005" class="slider">
        </div>
        <button id="next-button"><img src="../public/images/arrow.png" alt="next-button"></button>    
        </div>
</body>
</html>