<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/facil.CSS">
    <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
  <style>
    body {
      font-family: 'Minecraftia', sans-serif;
    }
  </style>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='./play.html'">
        <h1 class="contador">0</h1>
    </div>
    <div class="container">

            <ul id="fundo" style="text-decoration: none;" class="border">
            <img id="maca" onclick="mudarImagem('maca')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="uva" onclick="mudarImagem('uva')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="morango" onclick="mudarImagem('morango')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="cereja" onclick="mudarImagem('cereja')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="limao" onclick="mudarImagem('limao')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="abacaxi" onclick="mudarImagem('abacaxi')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="melancia" onclick="mudarImagem('melancia')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="banana" onclick="mudarImagem('banana')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="maca" onclick="mudarImagem('maca')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="uva" onclick="mudarImagem('uva')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="morango" onclick="mudarImagem('morango')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="cereja" onclick="mudarImagem('cereja')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="limao" onclick="mudarImagem('limao')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="abacaxi" onclick="mudarImagem('abacaxi')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="melancia" onclick="mudarImagem('melancia')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="banana" onclick="mudarImagem('banana')" class="peca" src="../public/images/fundo de Ina.png">
            
        </ul>
        </div>  
    <Script src="../Js/game.js">

      
    </Script>
</body>
</html>