<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/facil.CSS">
    <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
  <style>
    body {
      font-family: 'Minecraftia', sans-serif;
    }
  </style>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='./play.html'">
        <h1 class="contador">0</h1>
    </div>
    <div class="container">

            <ul id="fundo" style="text-decoration: none;" class="border">
            <img id="maca" onclick="mudarImagem('maca')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="uva" onclick="mudarImagem('uva')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="morango" onclick="mudarImagem('morango')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img4" onclick="mudarImagem('img4')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img5" onclick="mudarImagem('img5')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img6" onclick="mudarImagem('img6')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img7" onclick="mudarImagem('img7')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img8" onclick="mudarImagem('img8')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img9" onclick="mudarImagem('img9')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img10" onclick="mudarImagem('img10')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img11" onclick="mudarImagem('img11')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img12" onclick="mudarImagem('img12')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img13" onclick="mudarImagem('img13')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img14" onclick="mudarImagem('img14')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img15" onclick="mudarImagem('img15')" class="peca" src="../public/images/fundo de Ina.png">
            <img id="img16" onclick="mudarImagem('img16')" class="peca" src="../public/images/fundo de Ina.png">
            
        </ul>
        </div>  
    <Script src="../Js/game.js">

      
    </Script>
</body>
</html>