<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wdata-pecath=device-wdata-pecath, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/facil.CSS">
    <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
  <style>
    body {
      font-family: 'Minecraftia', sans-serif;
    }
  </style>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='./play.html'">
        <h1 class="contador">0</h1>
    </div>
    <div class="container">

            <ul data-peca="fundo" style="text-decoration: none;" class="border">
            <img data-peca="a" onclick="mudarImagem('a')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="b" onclick="mudarImagem('b')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="c" onclick="mudarImagem('c')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="d" onclick="mudarImagem('d')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="e" onclick="mudarImagem('e')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="f" onclick="mudarImagem('f')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="g" onclick="mudarImagem('g')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="h" onclick="mudarImagem('h')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="i" onclick="mudarImagem('i')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="j" onclick="mudarImagem('j')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="k" onclick="mudarImagem('k')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="l" onclick="mudarImagem('l')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="m" onclick="mudarImagem('m')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="n" onclick="mudarImagem('n')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="o" onclick="mudarImagem('o')" class="peca" src="../public/images/fundo de Ina.png">
            <img data-peca="p" onclick="mudarImagem('p')" class="peca" src="../public/images/fundo de Ina.png">
            
        </ul>
        </div>  
    <Script src="../Js/game.js">

      
    </Script>
</body>
</html>