<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leadeboard</title>
    <link rel="stylesheet" href="../styles/Leadboard.css">
     <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
  <style>
    body {
      font-family: 'Minecraftia', sans-serif;
    }
  </style>
</head>
<body>
    
    <div><h1 id="titulo" style="color: yellow;">Leadeboard</h1>
           <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='../index.html'">
        </div>
        <div id="colocados">
        <ul id="colocados" style="color: yellow;">
            1°<br>
            2°<br>
            3°<br>
            4°<br>
            5°<br>
            6°<br>
            7°<br>
            8°<br>
            9°<br>
            10°<br>
        </ul>
        </div>
       


<script>
    console.log('Script do Leadboard carregado');
    const tempoPartida = localStorage.getItem('tempoPartida');
    
    if (tempoPartida !== null) {
        const tempoDiv = document.createElement('div');
        tempoDiv.textContent = `Seu tempo: ${tempoPartida}s`;
        tempoDiv.style.fontSize = '2rem';
        tempoDiv.style.color = 'yellow';
        tempoDiv.style.marginBottom = '20px';
        tempoDiv.style.textAlign = 'center';

        const titulo = document.getElementById('titulo');
        titulo.insertAdjacentElement('afterend', tempoDiv);
    }
</script>
</body>
</html>