<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Jogo da memoria</title>
    <link rel="stylesheet" href="../styles/menu.CSS"/>
</head>
<body class="body">
    <div class="tittle" style="text-align: center; margin-top: 20px;">
        <h1 style="color: yellow;">Jogo da Memória</h1>
    </div>
        <div class="menu">
            <a id="JOGO" style="text-decoration: none;" href="../views/jogo.html">INICIAR</a>
            <a id="AJUDA" style="text-decoration: none;" href="../views/ajuda.html">AJUDA</a>
            <a id="SOBRE" style="text-decoration: none;" href="../views/sobre.html">SOBRE</a>
        </div>
   
</body>
</html>