<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/play.CSS">
      <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
  <style>
    body {
      font-family: 'Minecraftia', sans-serif;
    }
  </style>
    <title>Jogo da memoria-iniciar</title>
</head>
<body>
    <div class="containers">

        <div class="header">
            <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='../index.html'">
            
            <h1 class="text">Escolha a Dificuldade</h1>
        </div>
        <div class="border">
            <h2 class="dif">Dificuldades</h2>
            <a  class="ul"  href="./facil.html"'> <h2 class="fa">Fácil</h2> </a >
            <a  class="ul" href='./medio.html'> <h2 class="me">Médio</h2> </a>
            <a  class="ul" href='./dificil.html'> <h2 class="di">Difícil</h2> </a>
        </div>
        
    </div>
   
    
</body>
</html>