<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da memoria-sobre</title>
    <link rel="stylesheet" href="../styles/sobre.CSS">


</head>

<body>

    <div class="container"-slider>
        <button id="prev-button"><img src=".public/images/arrow.png" alt="prev-button"></button>
        <div class="container-images">
            <img src="../public/images/arrow.png" alt="arrow">
            <img src="../public/images/fundo azul.jpg" alt="fundo azul">
            <img src="../public/images/fundo2.png" alt="fundo2">
            <img src="../public/images/fundo.avif" alt="fundo">  
        </div>
        <button id="next-button"><img src="../public/images/arrow.png" alt="next-button"></button>    
        </div>
        <div>
        <h1 class="h1">você acessou a pagina sobre</h1>
        <h3 class="h1">Criadores:</h3>
    
        <button style="color: crimson;" class="button" onclick="criadores()">Mostrar criadores</button>
        <ul id="informacoesdeCriadores" style="display: none; color: white;">
            <li>Ewerton</li>
            <li>Tyler</li>
            <li>Adrielly </li>  
            <li>Ian</li>
            <li>Gabriel</li>
    
        </ul><br>
        <a class="back" href="../index.html">voltar ao menu</a>
    </div>
    <script>
        function criadores() {
            const el = document.getElementById("informacoesdeCriadores");

            if (el.style.display === "none") {
                el.style.display = "block";
            } else {
                el.style.display = "none";
            }
        }
    </script>
</body>

</html>