.h1 {
    text-align: center;
}



body {
  background-image: url('../public/images/fundo-final.png');  
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}




.desc { 
  display: flex;
  position: relative;
}

.desc1 {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.regras {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  font-size: 20px;
}

.header {
  height: 10vh;
  width: 100%;
  margin-bottom: 20px;
}

.header div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header div h1 {
    width: 800px;
    padding: 10px 0;
    margin: 0;
}

.sair {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  left: 0;
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: yellow;
  border: 5px solid rgb(255, 255, 255);
  padding: 20px;
}

#l1:hover {
  font-size: 25px;
}
