.h1 {
    text-align: center;
}

body {
  background: linear-gradient(135deg, rgb(221, 174, 231), rgb(255, 255, 255));
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.button:hover {
  color:rgb(0, 0, 0)
}

.cj {
  font-size: 24px;
}

.desc {
  font-size: 24px;
  text-align: left;
}