body {
  background-image: url('../public/images/background-foda.jpg');  
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

}

.header {
    display: block;
    max-height: 180px;

}

.sair {
    max-height: 30vh;
    max-width: 20vh;
    cursor: pointer;
    width: 18vh;
    height: 20vh;
}

.contador {
    display: absolute;
    text-align: right;
    justify-content: right;
    position: relative;
    bottom: 23vh;
    right: 15vh;
    color: white;
}



.container {
    display: block;
    align-items: center;
    justify-content: center;
}

.peca {
    display: inline-block;
    align-items: center;
    justify-content: center;
    max-width: 20vh;
    max-height: 20vh;
    flex-direction: row;
    padding: 0  px;
    cursor: pointer;
    transform-origin: center;
}

.border {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 70vh;
    max-width: 65vh;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 65vh;
    bottom: 15vh
   
}


.peca.animar {
    animation: girar 0.5s;
}

@keyframes girar {
    0% { transform:  
        rotateY(0deg); 
    }
    50% { transform: 
        rotateY(180deg);
    }
    100% { transform:  
        rotateY(360deg); 
    }
    
}

.virando {
    animation: flip 0.6s;
}

@keyframes flip {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(90deg); }
    100% { transform: rotateY(0deg); }
}
