body {
    
  background-image: url('../public/images/fundo-final.png');  
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed; 
}

.contaienr {
    width: 100%;
}

.tittle {
    font-size: 50px;
}
.menu {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
   width: 20%;
}



#JOGO{
    
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 10%;
    padding: 10%;
    font-size: 30px;
    
    
  

}

#rank {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 70vh;
    bottom: 40vh;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 10%;
    padding: 10%;
}
