@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 180px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/images/fundo-final.png');
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.card-list {
    transition: 0.2s ease;
}

.card-list {
    list-style: none;
}
.card-list .card-item .card-link {
    
    width: 300px;
    position: relative;
    left: 17px;
    top: -10px;
    display: block;
    background-color: rgb(120, 14, 58);
    padding: 20px; 
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-item:hover {
    color: transparent;
}

.card-list .card-item .card-link:hover {
    border-color: #5372F0;
    
}

.card-list .card-link .card-image {
    width: 260px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px;   
}

.card-list .card-link .badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;    
    margin:  16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;    
}

.card-list .card-link .badge.adrielly {
    color: #B22485;
    background: #F7DFF5;
}

.card-list .card-link .badge.ewerton {
    color: #B25A2B;
    background: #FFE3D2;
}

.card-list .card-link .badge.gabriel {
    color: #205C20;
    background: #D6F8D6;
}

.card-list .card-link .badge.tyler {
    color: #856404;
    background: #F7DFF5;
}

.card-list .card-link .badge.ian {
    color: #b28c19;
    background: #fff3cd;
}


.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background:  #5372F0;
}

.card-button material-symbols-rounded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.4s ease;
}

.card-button :target {
    display: block;

}

.swiper-button-prev {
    position: relative;
    left: 75px;
    bottom: -0px;
    transform: rotate(180deg);
    
}

.swiper-button-next {
   position: relative;
    right: 896px;
    top: -0px;
    transform: rotate(180deg); 
}

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container {
    height: 100%;
    width: 100%;
}

.pc {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.pcImg {
    
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.pcImg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 180px;
}

.sair {
    align-items: center;
    position: relative;
    top: 250px;
}

.sair {
  
    color: #4800ff;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    position: relative;
    left: 0px;
    top: -565px;
    cursor: pointer;
}

.sair {
    max-width: 200px;
    max-height: 200px;
    width: 100px;
    height: 150px;
}

.sair:hover {
    color: red;
}

.final {
    font-size: 20px;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    min-width: 450px;
    min-height: 50px;
    width: 300px;
    height: 50px;
    top: 250px;
    left: -600px;
    color: rgb(165, 12, 12);

}

#trans:hover {
    color: blue;
    font-size: 70px;
    transition: 0.2s ease ;
}

#trans:hover {
    font-size: 33px;
    transition: 0.2s ease;
}

#adrielly:hover {
    color: rgb(255, 255, 255);
    font-size: 70px;
    transition: 0.2s ease ;
}

#ewerton:hover {
    color: blue;
    font-size: 70px;
    transition: 0.2s ease ;
}

#gabriel:hover {
    color: blue;
    font-size: 70px;
    transition: 0.2s ease ;
}

#tyler:hover {
    color: blue;
    font-size: 70px;
    transition: 0.2s ease ;
}

#ian:hover {
    color: blue;
    font-size: 70px;
    transition: 0.2s ease ;
}

