body {
    background: linear-gradient(135deg, red, yellow);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back {
    
    color:red
    
}

.h1 {
    text-align: center;
    color: white;
}

.button {
    text-align: center;
    color:red;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}


.btt {
    align-items: center;
}

#informacoesdeCriadores {
    list-style-type: none;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, red, yellow);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-slider {
    display: flex;
   width: 100%;
   min-height: 100vh;
   align-items: center
   justify-content: center;

}